*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background: linear-gradient(45deg, rgba(3, 42, 119, 0.7), rgba(3, 43, 138, 0.67));
}
#card{
    background: linear-gradient(35deg, #00feba, #5b548a);
}
